<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div id="myDIV" class="header">
    <p>
        <%- include('includes/nav.ejs') %> <!--  To import nav  -->
    </p>

    <h2 style="margin:5px">My To Do List</h2>
  
    <P>A project, which can be used to create wish list of task, has been developed using the javascript frame work.</P>
</div>


</body>
</html>