<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div id="myDIV" class="header">
    <p>
        <%- include('includes/nav.ejs') %> <!--  To import nav  -->
    </p>

    <h2 style="margin:5px">My To Do List</h2>
    <form id="myForm" onsubmit="">
        <input type="text" id="myInput" placeholder="Title...">
        <input type="submit" class="addBtn" value="add">
    </form>
    
    
</div>
<ul>
    <% task.forEach(item=>{ 
        
        if(item!=undefined) {%>
        <li onclick="deleteme(this)"><%= item.wish %></li>
    <%} }) %>
</ul>

<script src="/js/script.js"></script>

</body>
</html>